:root {
  --primary-color: #167aff;
  --primary-light-color: #3f91ff;
  --primary-font: "Outfit";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: var(--primary-light-color);
  opacity: 1;
}
.loader-ring {
  color: var(--primary-color);
}
